
:root{
    --back1: #e3fdfd;
    --back2:#cbf1f5;
    --back3:#a6e3e9;
    --back4:#71c9ce;
    --royal:#111e6c
}
header{
    padding: 0 !important;
    background-color:var(--back1);
}
header .KH:first-child{
    position: absolute;
    right: 0px;
    top: 0%;
    width: 14vw;
    height: 13vw;
    border-radius: 10px !important;
    padding: 5px 5px;
}
header .KH:last-child{
    position: absolute;
    left: 0px;
    top: 0%;
    width: 14vw;
    height: 13vw;
    border-radius: 10px !important;
    padding: 5px 5px;
}
header #date{
    color: #666666;
    font-size: 2vw;
    font-weight: bold;
}
header .main-title{
    font-size: 5vw;
    color: #222222;
    font-weight: bold;
    text-shadow: 4px 3px 6px #666666;
    cursor: default;
    animation: change 3s ease infinite;
}
@keyframes change{
  0%  {color: #444444;}
  25%  {color: #666666;}
  75% {bcolor: #888888;}
  100% {bcolor: #999999;}
}
header .navbar{
    border-top: 4px solid var(--back4);
    border-bottom: 4px solid var(--back4);
}
header .nav-logo{
    width: 11vw;
    height: 10vmax;
    border-radius: 10px;
    box-shadow: 0 0 5px #666666;
}
.bar1, .bar2, .bar3 {
    width: 35px;
    height: 5px;
    background-color: #333;
    margin: 6px 0;
    transition: 0.4s;
}
.change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px);
    transform: rotate(-45deg) translate(-9px, 6px);
}

.change .bar2 {opacity: 0;}

.change .bar3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px);
    transform: rotate(45deg) translate(-8px, -8px);
}
header .nav-item .nav-link{
    color: #222222;
    font-size: 1.5vw;
    font-weight: 700;
    transition: all 0.5s ease;
    padding-left: 20px !important;
}
header .nav-item .nav-link:hover{
    color: #000000;
    text-shadow: 0 0 5px #666666;
}

#footer{
    background-color: var(--back4);
    border-top: 3px solid var(--back1);
}
#footer a:hover{
    text-decoration: none;
}
#footer .list{
    list-style-type: none;
}
#footer .list-item::before{
    content: "\261A";
    font-size: 30px;
    color: #444444;
    padding-left: 5px;
}
#footer .list-item{
   color: #222222;
   font-size: 25px;
   cursor: default;
   transition: all 0.5s ease;
   display: inline;
}
#footer .list-item:hover{
    text-shadow: 0 0 8px #666666;
}
#footer .contact-us{
    font-size: 25px;
    color: #333;
}
#footer .policy{
    padding-bottom: 20px;
    padding-top: 20px;
    text-align: center;
    background-color: var(--royal);
    color: #e3fdfd;
    
}
#footer .policy p{
    margin: 0;
    font-size: 20px;
    cursor: default;
    display: inline;
}
#footer .policy p:hover{
    text-shadow: 0 0 10px var(--back2);
}

#main .auto-glow{
    animation: auto-glow 2s infinite;
}
@keyframes auto-glow{
    0% {text-shadow: none;}
    50%{text-shadow: 0 0 10px #007bff;}
    100%{text-shadow: none;}
}


#main{
    background-color: rgb(165, 227, 233,0.5);
    
}

#main .carousel-inner img {
    width: 100%;
    height: 40vw;
}
.carousel-prev-icon,.carousel-next-icon{
    font-size: 80px;
    font-weight: bold;
    color: #000000;
    transition: all 1s ease;
}
#carousel-control:hover .carousel-prev-icon{
    transform: matrix(-1, 0, 0, 1, 0, 0);
}
#carousel-control:hover .carousel-next-icon{
    transform: matrix(-1, 0, 0, 1, 0, 0);
}
#main .alert{
    transition: all 0.5s ease;
}
#main .alert p{
    font-size: 2vw !important;
}
#main .alert:hover{
    box-shadow: 0 0 13px 4px #721c24;
}
#main .inquiry .form-label{
    position: absolute;
    color: #222222 !important;
    transition: 0.25s ease;
    -moz-transition: 0.25s ease;
    -webkit-transition: 0.25s ease;
    -o-transition: 0.25s ease;
    -ms-transition: 0.25s ease;
    color: #bebebe;
    font-size: 18px;
    right: 12px;
    top: -2px;
}
#main .inquiry .input{
    box-shadow: none;
    background-color:#e3fdfd;
    border: none;
    border: none;
    border-radius: 20px;
    box-shadow: inset 0px 0px 10px 1px #007bff;
    width: 15vw;
    height: 40px;
    color: #666666;
    direction: rtl !important;
    text-align: right !important;
    padding-right: 10px;
    transition: 0.3s ease;
  -moz-transition: 0.3s ease;
  -webkit-transition: 0.3s ease;
  -o-transition: 0.3s ease;
  -ms-transition: 0.3s ease;
}
#main .input:focus + .form-label{
    top: -35px !important;
}
#main .input:valid + .form-label{
    top: -35px !important;  
}
#main .inquiry .title::after{
    content: "";
    position: absolute;
    width: 15vw;
    border-bottom: 5px solid #007bff;
    top: 68px;
    left: 380px;
}
#main .inquiry .title::before{
    content: "";
    position: absolute;
    width: 15vw;
    border-bottom: 5px solid #007bff;
    top: 68px;
    right: 380px;

}

#main .inquiry .input:focus{
    box-shadow: none;
    outline: none;
}
#main .inquiry .err{
    position: absolute;
    right: 9px;
    bottom: -32px;
    font-size: 18px;
}
#main .inquiry .btn{
    background-color: #e3fdfd;
    color: var(--royal);
    padding: 10px 20px;
    transition: all 0.5s ease;
    font-size: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    box-shadow: 0px 0px 12px 3px #007bff;
}
#main .inquiry .btn:hover{
    background-color: var(--royal);
    color: #e3fdfd;
}


/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}
#def .list-item{
    list-style-type: none;
    padding: 10px 5px;
}
#def .list-item .p1{
    font-size: 25px;
    color: var(--royal);
    font-weight: bold;
}
#def .list-item .p2{
    font-size: 18px;
    color: #666666;
}
#def p{
    font-size: 20px;
    color: #666666;
}
#main #article .title::after{
    content: "";
    position: absolute;
    width: 15vw;
    border-bottom: 5px solid #28a745;
    top: 68px;
    left: 280px;
}
#main #article .title::before{
    content: "";
    position: absolute;
    width: 15vw;
    border-bottom: 5px solid #28a745;
    top: 68px;
    right: 280px;
}
#def .conditions .title::after{
    content: "";
    position: absolute;
    width: 15vw;
    border-bottom: 5px solid #ffc107;
    top: 35px;
    left: 230px;
}
#def .conditions .title::before{
    content: "";
    position: absolute;
    width: 15vw;
    border-bottom: 5px solid #ffc107;
    top: 35px;
    right: 230px;
}
#def .credit .title::after{
    content: "";
    position: absolute;
    width: 15vw;
    border-bottom: 5px solid #343a40;
    top: 35px;
    left: 190px;
}
#def .credit .title::before{
    content: "";
    position: absolute;
    width: 15vw;
    border-bottom: 5px solid #343a40;
    top: 35px;
    right: 190px;
}
.card{
    background: none !important;
    border: none !important;
    border-radius: 10px !important;
    transition: all 0.5s ease;
    margin-top: 10px;
    margin-bottom: 10px;
}
.card:hover{
    box-shadow: 0 0 17px 3px #28a745;
}
.card-header a:hover{
    text-decoration: none;
}
#article .card-header{
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    background-color: #e3fdfd;
    
}
.card-img-bottom{
    border-bottom-left-radius: 10px !important;
    border-bottom-right-radius: 10px !important;
    height: 16vmax;
}
#article .card-header a{
    color: #28a745;
    font-size: 18px;
    font-weight: bold;
}
.back-to-top {
    position: fixed;
    width: 50px;
    height: 50px;
    bottom: 25px;
    right: 25px;
    display: none;
    border: none !important;
    font-size: 28px !important;
    padding-top: 5px;
    border-radius: 50% !important;
    background-color: #4169e1 !important;
    color: white !important;
    z-index: 1000;
}

                                                        /* show evidenc */
.p-detail{
    font-size: 2vw;
    color: #666666;
    padding: 20px 50px;
}
